<div class="dashboard-container">
  <div class="dashboard-header-container">
    <h1>Dashboard</h1>
    <button type="button" class="btn-secondary" (click)="goBack()">Back</button>
  </div>

  <div class="user-info-container">
    <h2>User Information</h2>
    <div class="card info-grid">
      <div class="info-item">
        <label class="item-label">Name:</label>
        <span>{{ dashboardDataService.$state().name || "Not set" }}</span>
      </div>
      <div class="info-item">
        <label class="item-label">Email:</label>
        <span>{{ dashboardDataService.$state().email || "Not set" }}</span>
      </div>
      <div class="info-item">
        <label class="item-label">Subscription:</label>
        <span>{{
          dashboardDataService.$state().subscription || "Not set"
        }}</span>
      </div>
      <div class="info-item">
        <label class="item-label">Password:</label>
        <span>{{
          dashboardDataService.$state().password ? "••••••••" : "Not set"
        }}</span>
      </div>
    </div>
  </div>

  <div class="data-table-container">
    <h2>Data Table</h2>
    @if (dashboardDataService.$state().tableData.columns.length > 0) {
    <div class="card table-container">
      <table class="data-table">
        <thead>
          <tr>
            @for (column of dashboardDataService.$state().tableData.columns;
            track column) {
            <th>
              <p>
                {{ column }}
              </p>
            </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (row of dashboardDataService.$state().tableData.rows; track
          $index) {
          <tr>
            @for (cell of row; track $index) {
            <td class="row-cell">
              <p>
                {{ cell }}
              </p>
            </td>
            }
          </tr>
          } @empty {
          <tr>
            <td
              [attr.colspan]="
                dashboardDataService.$state().tableData.columns.length
              "
              class="no-data"
            >
              No data available
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
    <div class="no-table">
      <p>No table structure defined</p>
    </div>
    }
  </div>
</div>
