<form class="form-container" [formGroup]="dataForm" (submit)="submitHandler()">
  <div class="input-container">
    <app-primary-text-input
      [label]="'First Name'"
      [placeholder]="'Input first name'"
      [type]="'text'"
      [errorMessage]="''"
      formControlName="firstName"
    ></app-primary-text-input>
    <app-primary-text-input
      [label]="'Last Name'"
      [placeholder]="'Input last name'"
      [type]="'text'"
      [errorMessage]="''"
      formControlName="lastName"
    ></app-primary-text-input>
    <app-single-select
      [label]="'Subscription'"
      [options]="subscriptionOptions"
      [initSelectedValue]="subscriptionOptions[1].value"
      formControlName="subscription"
    ></app-single-select>
    <app-primary-text-input
      [label]="'Password'"
      [placeholder]="'Input password'"
      [type]="'password'"
      [errorMessage]="''"
      formControlName="password"
    ></app-primary-text-input>
    <app-file-input
      [groupName]="'file'"
      [buttonLabel]="'Upload File'"
    ></app-file-input>
  </div>
  <div class="button-container">
    <button class="btn-secondary" (click)="clearHandler()" type="button">
      Clear
    </button>
    <button class="btn-primary" type="submit">Submit</button>
  </div>
</form>
