<form class="form-container" [formGroup]="dataForm" (submit)="submitHandler()">
  <div class="input-container">
    <app-primary-text-input
      [label]="'First and Last Name'"
      [placeholder]="'Input first and last name'"
      [type]="'text'"
      [errorMessage]="getErrorMessage('name')"
      formControlName="name"
      [control]="getControl('name')"
    ></app-primary-text-input>
    <app-primary-text-input
      [label]="'Email'"
      [placeholder]="'Input email'"
      [type]="'email'"
      [errorMessage]="getErrorMessage('email')"
      formControlName="email"
      [control]="getControl('email')"
    ></app-primary-text-input>
    <app-single-select
      [label]="'Subscription'"
      [options]="subscriptionOptions"
      [initSelectedValue]="subscriptionOptions[1].value"
      formControlName="subscription"
    ></app-single-select>
    <app-primary-text-input
      [label]="'Password'"
      [placeholder]="'Input password'"
      [type]="'password'"
      [errorMessage]="getPasswordErrorMessage('password')"
      formControlName="password"
      [control]="getControl('password')"
    ></app-primary-text-input>
    <app-file-input
      [groupName]="'file'"
      [buttonLabel]="'Upload File'"
    ></app-file-input>
  </div>
  <div class="button-container">
    <button
      class="btn-secondary"
      (click)="clearHandler()"
      type="button"
      [disabled]="!isFormDirty"
    >
      Clear
    </button>
    <button class="btn-primary" type="submit">Submit</button>
  </div>
</form>
