.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  width: 100%;
}

.input-container {
  display: grid;
  grid-template-rows: 3fr;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}
